*{box-sizing: border-box;}

body, html{
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;

  background: #DEDEDE;
}

header{
  min-height: 15vh;
  width: 100vw;

  padding: 0 1em;

  background-color: #454545;
  color: white;

  box-shadow: 0 0 0.2em 0.1em black;
}

header img{
  width: auto;
  height: 80px;
}

main{
  width: 97vw;
  margin: auto;
  margin-top: 1em;
}

main li{
  list-style: none;
  font-size: 1.3em;

  background-color: #454545;
  color: white;

  border-radius: 0.2em;
  padding: 0.2em 0.3em;
  max-width: 70%;

  display: inline-block;
  clear: both;

  margin-bottom: 1em;
  word-break: break-all;
}

main li.question{
  float: right;
}

main li.answer{
  float: left;
}

main input{
  margin: 0 0.2em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  border-radius: 0.3em;
  border: none;
}

main button{
  margin: 0 0.2em;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  border-radius: 0.3em;
  border: none;
  padding: 1em;
  color: white;
  background-color: #454545;
  transition: all 1s;
}

main button:hover{
  background-color: #111;
}

.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.grid > *{
  height: auto;
  flex: 1;
  padding: 0.2em;
  align-self: center;
}

.grid.col{flex-flow: column wrap;}

.grid > .fullS{flex: 0 0 100%;}
.grid > .halfS{flex: 0 0 50%;}
.grid > .quarterS{flex: 0 0 25%;}
.grid > .threequarterS{flex: 0 0 75%;}
.grid > .thirdS{flex: 0 0 33%;}
.grid > .twothirdS{flex: 0 0 66%;}
.grid > .justS{flex: 0 0 auto;}
.grid > .allS{flex: 1 0 auto;}

.grid > .hideS{display: none;}
.grid > .hideM{display: none;}

@media (min-width: 640px) {
  .grid > .fullM{flex: 0 0 100%;}
  .grid > .halfM{flex: 0 0 50%;}
  .grid > .quarterM{flex: 0 0 25%;}
  .grid > .threequarterM{flex: 0 0 75%;}
  .grid > .thirdM{flex: 0 0 33%;}
  .grid > .twothirdM{flex: 0 0 66%;}
  .grid > .justM{flex: 0 0 auto;}
  .grid > .allM{flex: 1 0 auto;}
  .grid > .hideS{display: block;}
}

@media (min-width: 960px) {
  .grid > .fullB{flex: 0 0 100%;}
  .grid > .halfB{flex: 0 0 50%;}
  .grid > .quarterB{flex: 0 0 25%;}
  .grid > .threequarterB{flex: 0 0 75%;}
  .grid > .thirdB{flex: 0 0 33%;}
  .grid > .twothirdB{flex: 0 0 66%;}
  .grid > .justB{flex: 0 0 auto;}
  .grid > .allB{flex: 1 0 auto;}
  .grid > .hideM{display: block;}
}

.grid > .break{flex: 0 0 100%;}

.grid > .start {align-self: flex-start;}
.grid > .end {align-self: flex-end;}
